{% load static from static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'css/layout.css'%}">
</head>
<body>
<div class="ss">
    <h1>Welcome to myFirstProject.</h1>
{%block one%}
    


{%endblock%}
 {% block second%}
 

 {%endblock%}

</div>
 
    <h4>List is </h4>
    <ul>
    
</body>
</html>